FRONTEND_IMAGE=ghcr.io/candyscode/ai-frontend
BACKEND_IMAGE=ghcr.io/candyscode/ai-backend
IMAGE_TAG=latest
TZ=Europe/Berlin
BACKEND_PORT=3001
KNX_IP=192.168.1.85
KNX_PORT=3671
CORS_ORIGIN=http://localhost
WATCHTOWER_POLL_INTERVAL=300
